/* footter */
.box50{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
}
.footter ul{
    list-style: none;
    padding: 0px ;
    margin: 0px;
}
.footter ul>li>a{
    text-decoration: none;
    color: white;
}
/* end footter */
/*  timkiem */
.timkiem {
    width: 250px; /* Đặt chiều rộng */
    height: 38px;
    margin-right: 5px;
    padding: 10px; /* Đặt khoảng cách bên trong */
    border: 1px solid #ccc; /* Đặt viền */
    border-radius: 5px; /* Đặt góc vuông */
    background-color: #f7f7f7; /* Đặt màu nền */
    color: #333; /* Đặt màu chữ */
}

.timkiem:focus {
    color: #000;
}

.timkiem:focus {
    background-color: #fff;
}
/* end */
/* banner */
.img-banner {
    height: 650px;
    object-fit: cover; 
  }
  /* css banner js */
/* .banner{
    width:100%;
    min-width:300px;  
    margin-bottom: 20px;
    text-align:center;
    position:relative;
}
.banner img{
    width:100%;
    height:620px;
}
.pre, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    padding:16px;
    color:white;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease-in-out;
    border-radius:0 3px 3px 0;
    border:none;   
}
.pre:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}
.next{
    right:0;
    border-radius:3px 0 0 3px;
}
.pre{
    left:0;
    border-radius:0 3px 3px 0;
} */
/* end css banner js */
  /* end banner */
/* phần item hearder */
.item_dangnhap{
    text-decoration: none;
    color: black;
}
.item_hearder{
    list-style: none;
    padding: 0px ;
    margin: 0px;
    display: flex;
    justify-content: center;
}
/* end */
/* tin tức trang chủ */
.img_tintuc{
    height: 400px;
    object-fit: cover;
}
.tintuc{
    text-decoration: none;
    color: black;
}
/* end */
/* danh mục trang chủ */
.danhmuc {
    background-color: #f2f2f2; /* Màu nền của phần danh mục */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h3 {
    font-size: 24px; /* Kích thước font chữ */
    color: #333; /* Màu chữ */
}

.anhdm {
    position: relative;
    overflow: hidden;
    border: 3px solid #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* đổ bóng */
    transition: transform 0.3s; 
}

.anhdm:hover {
    transform: scale(1.05); 
}

.anh_dm {
    height: 250px;
    object-fit: cover;
}

.tenanh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s; /* Hiệu ứng xuất hiện */
}

.tenanh a {
    text-decoration: none;
    color: white;
}
.anhdm:hover .anh_dm {
    filter: blur(1px); /* Mờ hình ảnh khi hover */
}
.anhdm:hover .tenanh {
    opacity: 1;
}
/* end */
/* top sp */
.sanpham {
text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tenSP {
    text-decoration: none; /* Loại bỏ đường link */
    color: #333; /* Màu chữ tiêu đề */
}

.giaSP {
    color: #ff6600; /* Màu chữ giá */
}

.themSP{
    background-color: white; 
    color: black; 
    border: 1px solid black;
    padding: 7px 15px; 
    margin-right: auto;
    border-radius: 5px; 
    cursor: pointer; /* Con trỏ khi di chuột qua nút */
}
.themSP:hover, .muangay:hover {
    background-color: #ff6600; 
    color: white;
}

/* CSS mặc định cho trái tim */
.heart-icon {
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

/* CSS khi trái tim được nhấn */
.heart-icon.clicked {
    color: red; /* Màu mới của trái tim khi nhấn */
    transform: scale(1.2); /* Phóng to trái tim */
}
/* end topSP */
/* Trang danhmucSP */
.tendm{
    border-bottom: 1px solid #ff6600; /* Màu chữ nổi bật, ví dụ: màu cam */
    ;
}
.tendm a {
    text-decoration: none; /* Loại bỏ đường link */
    color: black; /* Màu chữ nổi bật, ví dụ: màu cam */
}
/* Đăng nhập */
.form_dangnhap, .form_dangky, .form_quenMK{
    max-width: 600px; 
    margin: 10px auto; 
    padding: 20px;
    border: 1px solid black;
    background-color: #f7eded ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    border-radius: 5px;
}

/* Định dạng nút đăng nhập */
.dangnhap, .dangkyTK, .layMK{
    margin-top: 5px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.dangnhap:hover, .dangkyTK:hover, .layMK:hover{
    background-color: #ff6600;
}

/* Định dạng nhãn (label) */
.form-label {
    font-weight: bold;
}

.dangky, .quenMK{
    text-decoration: none;
    color: black;
}
.dangky:hover, .quenMK:hover{
    color: #ff6600;
}
/* Chi tiết sản phẩm */
.anh2{
    width: 90px;
    margin: 10px;
    object-fit: cover;
}
.anh1{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.select_chitietSP{ 
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.mausac{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    margin:10px 5px; 
    cursor: pointer; 
    display: inline-block;
}
.muangay{
    background-color: white; 
    color: black; 
    border: 1px solid black;
    padding: 7px 15px; 
    border-radius: 5px; 
    cursor: pointer;
}
/* Màu nền mặc định cho nút */
.btn.btn-outline-success {
    background-color: transparent; 
}

/* Màu nền khi hover vào nút */
.btn.btn-outline-success:hover {
    background-color: #ff6600; 
}
/* Thông tin Giao hàng */
.form_tomtatGH{
    border: 1px solid black;
border-radius: 5px;
}
.tienhanhDH{
    background-color: white; 
    color: black; 
    border: 1px solid black;
    padding: 7px 15px; 
    float: right;
    border-radius: 5px; 
    cursor: pointer;
}
.tienhanhDH:hover{
    background-color: #ff6600;
    color: white
}
/* end */
/* menu admin */
.navbar-nav .nav-link {
    color: #000; /* Màu chữ mặc định */
    transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

.navbar-nav .nav-link:hover {
    color: white;
    background-color: #ff6600;
}

.navbar-nav .nav-link.active {
    color: white;
    background-color: #ff6600;
}
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}
/* thêm sp adm */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Hiệu ứng hover cho input và select */
.form-control:hover,
.form-select:hover {
    border-color: #007bff;
}
.form_nd {
    padding: 20px;
}

.form_addsp, .form_add_dm, .form_sua_sp, .form_sua_dm, .form_add_mgg, .form_edit_mgg{
    margin: auto;
    padding: 10px;
    max-width: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    border-radius: 5px;
}

.mausac {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.mausac:hover {
    border: 1px solid #333;
}
/* hình ảnh sửa sản phẩm */
.image-container {
    margin-bottom: 20px;
}
.image-chitiet {
    display: flex;
}

/* tìm kiếm adm */